[2022-05-27 20:56] dcmeglio commented on #151
Turned on debug logging, I'm definitely getting data, it's just not creating any devices or entities:
`DEBUG:pyweatherflowudp.client:Received message from 172.30.32.1:35678 - b'{"serial_number":"ST-0000XXXX","type":"rapid_wind","hub_sn":"HB-000XXXXX","ob":[1653684930,0.00,0]}'`

[2022-05-28 06:06] briis commented on #151
Have you setup the Mosquitto Integration? Not only the Mosquitto Add-On (Which is working I can see) but also the Integration?
If yes, can you go to the 'Settings' page and then 'Devices & Services' and then click on 'Devices' on the Mosquitto Integration. Do you here see any devices starting with `HUB HB-` and `Tempest ST-`?

If no, go to the 'Settings' page and then 'Devices & Services' and add

[2022-05-28 14:59] dcmeglio commented on #151
Ah, I see what happened, When I restored the backup the integration got severed from the addon because I had to reinstall the MQTT addon. Working now, thanks!

[2022-05-28 14:59] #151 closed

[2022-05-30 22:06] GlennGoddard commented on #132
Snow Possible, this true along with cloudy with produce an output of snow.
[code]
[code]
Cloudy is figured out separately.

Probability of Snow:
[code]

As stated elsewhere, all the code I am testing is in JavaScript being used in Node-Red with the data being pulled from WeatherFlow2MQTT and then fed back to Home Assistant.  I am posting here if other would like to comment or test.  I will 'eventu

[2022-05-30 23:35] GlennGoddard commented on #17
I have Cloudy and Partly Cloudy and Snow done.
Cloudy is >50% reduction in sun light
Partly Cloudy is 25-50% reduction
Snow is based on Snow Possible plus Cloudy (Not perfect but better than nothing)

Fog determination is in progress

[2022-06-01 17:59] badewanne1234 commented on #17
@GlennGoddard I see you are heavily working on this, great to see!
Sorry I was super busy the last couple of weeks. To answer your question: no, I dont use node red at all.
If there's something I can do for testing, pls let me know.

As far as the consideration of time goes, I had a similar issue with the rainy condition and I found that a timeslot of 20mins works pretty good for my rain condition

[2022-06-02 07:18] badewanne1234 commented on #17
Am I able to test this without node red?

[2022-06-02 13:24] GlennGoddard commented on #17
@badewanne1234 Yes, it will require manually doing it thou.  Node Red just pulls the data from the Tempest and give output automatically.  I actually started testing manually with a calculator to see what go me close at specific times.
You can either manually enter the data into a spreadsheet or a calculator.

Do you use Microsoft Office, LibreOffice, Open Office, or Google Docs?  In most cases th

[2022-06-03 08:01] Vitani commented on #149
Unfortunately not, I did a bit of investigation, but nothing matched up or could manually "induce" a spike. Thank-you for your help & work on this add-on

[2022-06-03 08:01] #149 closed

[2022-06-03 15:10] GlennGoddard commented on #17
Current Conditions that have been successful tested so far:

Lighting
Rainy
Pouring
Cloudy (day only)
Partly Cloudy (day only)
Sunny
Clear Night (no Cloud detection at night)

[2022-06-06 06:30] badewanne1234 commented on #17
@GlennGoddard sure I'm using Excel or I can use Google Docs. Which formulas are you actually referring to?

[2022-06-06 15:45] GlennGoddard commented on #17
[Solar Insolation.xlsx](https://github.com/briis/hass-weatherflow2mqtt/files/8845638/Solar.Insolation.xlsx)
@badewanne1234 here is an excel spreadsheet that has the calculations for Solar Elevation and then Solar Insolation.  You only need to change items that are in purple.  There are two columns, one for data in the past to compare which you can get from the WeatherFlow app and then one for real

[2022-06-10 19:41] GlennGoddard commented on #133
I have Zambretti working in Python and returns Zambretti Text and Number.  This is based on Beteljuice's Zambretti work.
Waiting on my previous PR to be accepted, which adds some prerequisites (briis might have previous PR in this weekend).

I still have some figuring out on the variables for the function call, like how to retrieve stored hi and lo press from inside helpers.py but one step at a ti

[2022-06-11 10:37] olonsoft opened #153 "Can not update to 3.1.0"
### Home Assistant Version?

2022.6.5

### Add-On or Self Hosted?

HA Supervised (Add-On)

### Weatherflow2MQTT version?

3.0.8

### What happened?

Using HA image on a Raspberry PI.
HA shows that there is an update for WeatherFlow to MQTT.
Trying to update I get the following message:

### Relevant log output

[code]

[2022-06-11 10:53] briis commented on #153
My bad. We are working on the 3.1.0 release, but it is not ready yet. I have now reverted the version number, so hopefully it will not show up. Just ignore this for now.

[2022-06-11 21:38] GlennGoddard commented on #133
@briis The Zambretti as written returns two variables.
Do you want me to split it up to two separate functions?
I think it would probably be easier if it was two separate functions, so I will probably do that unless I hear otherwise.

[2022-06-12 01:44] GlennGoddard commented on #17
@badewanne1234 My Solar Radiation estimation (Solar Insolation) is now in the dev build.
You can use the dev build to test or wait until it hits the stable branch.

[2022-06-12 04:30] briis commented on #133
If the two variables should end up in two different sensors with a state value, then do two functions.

[2022-06-12 04:42] GlennGoddard commented on #133
I put it in two functions, it was straight forward.
Tomorrow I should have the PR for Zambretti.  Since this got restructured, I don't know where the functions are actually called from anymore, so I'll have a PR for you tomorrow in the same state as the last one if that is ok?

[2022-06-12 04:45] briis commented on #133
Very good Glenn. Just add the functions and sensor descriptions and I will take care of the rest. I will wait for this, and once completed, this will then become 3.1.0

[2022-06-12 22:37] GlennGoddard commented on #133
#154 PR submitted for Zambretti
Not a perfect PR, I did not know how to get the All Time Sea Pressure: Max and Min as a variable inside the program.  (Might be environment variables)

[2022-06-14 19:57] GlennGoddard commented on #133
I closed PR #154 and am adding translations

[2022-06-14 20:58] GlennGoddard commented on #133
PR #155 adds translations for English, German, French.  I don't have a Danish translation.

[2022-06-18 09:08] #153 closed

[2022-06-19 03:12] GlennGoddard commented on #17
I have all weather conditions (except exceptional, which most weather cards don't use anyway).
I also have fog and snow probability, which will give a percentage chance of fog or snow.  I should be able to release with local current conditions.

When the Zambretti PR is in Dev build then I will start a PR on Current Conditions.  I am intentionally waiting to ensure no conflicts exist.  I will most

[2022-06-19 12:10] briis commented on #17
The Zambretti Forecast is now in the `dev` build. Thanks to @GlennGoddard for creating the formulas and most of the translations.
It will most likely be in the final 3.1 release, once we iron out possible bugs and inconsistencies.

[2022-06-27 13:51] leonardpitzu commented on #133
How about adding pictures to it? My local, dumb implementation has a basic if-else approach and shows a picture with the trend. I have the pictures if you want them - both for day and for night.

[2022-06-27 17:55] GlennGoddard commented on #133
@leonardpitzu I'm curious regarding the pictures.  It may not make sense in this repository, but I could probably put them to use in my repo for canvas gauges: [https://github.com/GlennGoddard/CanvasGaugeBackgrounds](https://github.com/GlennGoddard/CanvasGaugeBackgrounds)

[2022-06-28 05:43] briis commented on #133
Agree with @GlennGoddard. I cannot really see the use case unless we converted it into a Weather Entity, which does not make sense for a forecast like that.

[2022-06-29 00:04] GlennGoddard commented on #133
Zambretti is in the Dev build and is under going testing.

[2022-06-29 15:28] leonardpitzu commented on #133
Fair enough but in my case i had to do this as it was a family request. Looks like this:
<img width="370" alt="Screenshot 2022-06-29 at 18 25 25" src="https://user-images.githubusercontent.com/4321813/176475823-d2fa5526-b107-41d5-93de-9b3cbc386562.png">

[2022-06-29 20:36] GlennGoddard commented on #133
@leonardpitzu Do you have different pictures depending on the weather?

[2022-06-29 21:31] leonardpitzu commented on #133
Yes, I have one for each weather condition. Also for each condition a day and night image. I am not in front of my computer right now but i can mail you the images if you want.

[2022-06-29 23:15] GlennGoddard commented on #133
You could send them via:
my Repo on GitHub
GlennHA on Home Assistant Forums
GlennGoddard on Tempest Forums

[2022-07-01 06:26] yolani opened #159 "Add binary sensor "is_raining""
### New Feature

Is there any chance of adding the binary_sensor.is_raining also to this. It was contained in the cloud api based integration but I ditched that to become cloud independent. I tried to create my own based on the rain rate, but that does not seem to update frequently.

### Additional context

_No response_

[2022-07-01 06:32] briis commented on #159
I will have a look at it.

[2022-07-02 21:08] GlennGoddard commented on #133
Zambretti will be pushed to Stable branch.  Testing successful in Dev branch.

[2022-07-02 21:08] #133 closed

[2022-07-04 19:02] badewanne1234 commented on #17
@GlennGoddard I'm back from vacation, so I'm looking into this now.
Referring to your excel spreadsheet, I highly assume you are in need of more datapoints, so I will provide the data.
- Time Zone Offset: is that in respect to GMT or UTC or something else?
- Measured Solar Radiation: I assume I can take the value from Weatherflow2MQTT Integration, which obviously pulls the data from the Tempest
-

[2022-07-04 19:12] GlennGoddard commented on #17
@badewanne1234  This is all in the integration now, so just observe what you get.  Best way would probably have 2 graphs one for Solar Radiation and one for Solar Insulation and compare them, on sunny days they should be the same.  If they are not, then I will need to make adjustments.

[2022-07-04 19:35] badewanne1234 commented on #17
got it, I'll have a look and report back

[2022-07-06 18:16] chasut opened #163 "Sea Level Pressure Anomaly"
### Home Assistant Version?

2022.6.7

### Add-On or Self Hosted?

Self managed Container

### Weatherflow2MQTT version?

3.1.0

### What happened?

Variance between the reported value for sea-level pressure.
HA entity = 29.907
Tempest app = 29.967
dark sky = 29.958
Accuweather = 29.95

Just installed the latest version wanting to check out the Zambretti information.  Currently it is scoring me at

[2022-07-06 19:07] chasut commented on #163
Just had a thought and looked at the history of the entity in HA.  Sure enough the pressure dropped ~0.03 right after update. So guessing it is something changed in the most recent release.  The only change I made was to add 4 additional environment variables Lat/Long, Max/Min pressure.  The ELEVATION was already there.  Perhaps I missed something?

[2022-07-07 03:46] briis commented on #163
There are no changes to the way Sea Level Pressure is converted from Mb to inHg in this release, and the Environment variables you added are all related to the Zambretti Forecast, so this is strange.

I will have to dig in to this to see where the potential error lies.

[2022-07-07 14:56] natekspencer commented on #159
@yolani, can you share what you used to create the binary sensor or what you mean by it didn't update frequently? The rain rate only updates once a minute from the device itself.

[2022-07-07 16:22] yolani commented on #159
Hmm, I just checked and actually it seems to work now... I just created a binary template sensor with "rain_rate > 0?"

The first one in this picture is my own, the other one is from the cloud based integration, which seems to have a small debounce when the rain Stopps, but actually mine turns on faster.

![image](https://user-images.githubusercontent.com/219931/177822844-f3df4ab5-c30a-4706-b0f7-f

[2022-07-07 17:54] zacs opened #164 "Zambretti values always None"
### Home Assistant Version?

2022.6.6

### Add-On or Self Hosted?

Self managed Container

### Weatherflow2MQTT version?

latest

### What happened?

Was excited to start integrating the recently added Zambretti values (thanks @GlennGoddard!), but since pulling the latest stable image from docker hub two days ago, I just see `None` as the value. I don't have a Tempest (I have the older Air+Sky), i

[2022-07-07 17:59] GlennGoddard commented on #164
Did you add the new environment variables for min and max pressure?

[2022-07-08 03:54] zacs commented on #164
Thanks @GlennGoddard -- I did not have lat/long set up. However I have added them now, and still get `None` for Zambretti values. `wind_direction_avg`, `pressure_trend`, and `sealevel_pressure` all work just fine and I see them changing over time.

MQTT Explorer shows the entities existing just without state. Does it take some time for them to become populated?

![image](https://user-images.github

[2022-07-08 15:45] GlennGoddard commented on #164
Do you get an output for Solar Insulation?

[2022-07-08 15:59] GlennGoddard commented on #164
It should take less than a minute, unless there was no trend information then it could take time to establish trend data, but you say you have trend.

Do you have the ALL time min/max for various sensors?  If not then might be an SQL problem.

It should work on Air&Sky but since I only have a Tempest, that is all I could test...
I didn't say Tempest only, and I don't think anything I call is Temes

[2022-07-08 21:48] chasut commented on #163
Let me know if there is anything I can do to help.  Sadly, I cannot be sure of the release I was running when I updated.  It has been some time since I have looked at it. It just works too good I guess ;)
Am I the only one seeing this behavior?

[2022-07-08 22:22] zacs commented on #164
I do indeed get solar insolation. For pressure I did not set any values (just assuming defaults would be fine for now). I will try a clean install, no worries about lost data I think.

[2022-07-09 21:58] GlennGoddard commented on #164
I just went thru the code to make sure I didn't miss anything that would cause a 'None' return.
I think you are in the same general area (Puget Sound) as me so try putting in the Min and Max variables.  There are defaults but they may not be getting thru for some reason.  The defaults are those for the UK, those make a huge difference in the output...but in you case it 'might' give an output other

[2022-07-09 22:21] zacs commented on #164
Thanks for those values. I just added and restarted Docker and still nothing. When I started clean I just removed the image, but not the actual data folder. I just tried using a new/empty volume and that also didn't solve the problem.

My compose environment vars are:

[code]

I'll turn on debug next and see if it says anything!

[2022-07-09 22:37] GlennGoddard commented on #164
hum....you can't check the long term stats until after midnight so.....Did you ever notice them in the past?

If @briis  still has his Air & Sky setup he can give some insight here...

Try graphing the sensors (ones from above) over small period (maybe an hour) and let's see if there are dead zones in the data (yes, I'm grasping here).

Just to verify, your Solar Insolation should be 706ish right

[2022-07-10 01:18] zacs commented on #164
I'm grasping as well! All sensors are reporting data very consistently so I don't think it's a gap issue. For eg here is the one you asked about (value looks right). Haven't had a chance to enter debug mode but I will tonight. Seems like Air/Sky may be missing something that Tempest has.

![image](https://user-images.githubusercontent.com/27705/178127671-c6dff393-3249-4772-967d-f79d508e14f4.jpeg)

[2022-07-10 08:32] briis commented on #164
#### Solar values
There should be no difference wether you use AIR/SKY or TEMPEST. The data used for the calculation are all generated in the same way, it just what UDP Frame we use to gather the data - but when sending it to this module it makes no difference.
I cannot rule it out 100% that this is where the error lays, as my AIR/SKY is packed away in the Attic and unfortunately they cannot be ad

[2022-07-10 08:37] briis commented on #163
I had a few testers who ran the Integration for some weeks before it was release, and like you they are using Imperial metrics. None have reported this, but as you wrote, they might just not have paid attention.

@GlennGoddard Can you verify if you have the same behaviour?

[2022-07-10 08:39] briis commented on #159
Glad it works, I will close the issue.

[2022-07-10 08:39] #159 closed

[2022-07-10 17:35] chasut commented on #163
I don't suppose it could be related to the changes in 3.0.5 and I just hadn't updated my instance?  Again, apologize for not having better information for your hunt.  Had a similar issue back in the day with issue #11.  I suspect it was only causing a problem for the inHG due to the significant digits necessary for that calculation.
Certainly @GlennGoddard should be seeing this as well.  If not, t

[2022-07-10 18:05] zacs commented on #164
Just pulled the `dev` build and doesn't seem to help. Turned debug on as well and the only relevant bits are:

[code]

Is it possible that because the Air and Sky messages come in at different times, and the Zambretti seems to be calculated whenever the Air sends data, that it is missing values from the Sky at the same time? This seems unlikely but it's the only thing I can think of.

[2022-07-10 20:10] GlennGoddard commented on #163
I never compared pressure between the App and what HA has...and it is off for station pressure.
App: 30.332 inHg
HA: 29.968 in Hg

That is significant.  I did all my calculation from data from this integration via NodeRed, so all my pressures are off.
Since station pressure is off then Sea Level Pressure will be off

[2022-07-10 20:20] GlennGoddard commented on #164
I missed the issue that was posted before yours, that pressure is off from the app and the integration.  But it is off for me as well and I get Zambretti outputs.  It must be that since the Air&Sky have different UDP broadcasts is the issue, but then other calculations should have issues as well.

Actually...the app reports Sea Level, so that is not it.

[2022-07-10 20:21] GlennGoddard commented on #163
The app does report sea level pressure, so mine does match.
App: 30.332
HA: 30.332

Both for sea level, the previous was comparing sea level to station pressure.

[2022-07-10 20:23] GlennGoddard commented on #163
@chasut do you have an Air&Sky or a Tempest?

[2022-07-10 20:24] GlennGoddard commented on #147
@joachimtingvold Do have the data now?

[2022-07-11 07:43] briis commented on #164
I gave that a thought also, but as soon as there is data it is kept in memory and used going forward - having a value in the sea level pressure is a good indication of that.
I might need to get my AIR/SKY out and setup again, and see if I can replicate this.

[2022-07-11 18:26] chasut commented on #163
Tempest

[2022-07-11 18:35] chasut commented on #163
FYI, just checked based on Glenn's comment.  Interesting, The Station pressure on both Tempest app and HA are exactly the same.  Only a variance in the Sea Level Pressure.  So guessing it is not the conversion to inHg, but the SLP calculation.

[2022-07-11 18:36] briis commented on #163
Thanks. I'll look through the code.

[2022-07-11 18:36] GlennGoddard commented on #163
So, your app shows station pressure...mine matches Sea Level Pressure

[2022-07-11 18:38] chasut commented on #163
The app shows both, just have to dig a little to find the station pressure (it is under the device icon).  Yes to the elevation, and double checked the other day to make sure they are in sync.

[2022-07-11 19:10] briis commented on #163
Thanks @natekspencer I will include this new module and release a new version with the next day.

[2022-07-11 19:33] GlennGoddard commented on #163
I'm a little concerned that it works for me now and that it will not later.  Mine is using the same calculation and a correct output, why would a different calculation change only for some and not all.  Are there conditions for different formulas?

[2022-07-11 19:44] briis commented on #163
I can't say why it works for you (and me). I see small variations to the App but always saw it as a timing issue. I'll post a dew built when I wake up, so let us see what it changes.

[2022-07-11 20:24] natekspencer commented on #163
Those who are closer to sea level already will have a much smaller impact on the variance from the previous calculation.

[2022-07-12 00:06] GlennGoddard commented on #163
Well.......

I updated the Tempest App and then my pressure is now different and does not track.  Then I remembered from previous threads on the WF Forums that there were differences in what was displayed depending on when you got your Tempest.  So, before the App update mine read the same on the App main page and the device and on the output from this integration in HA; after the App update (I di

[2022-07-12 04:53] briis commented on #163
I have now pushed a new Docker `dev` build, that includes the new formula to calculate [Sealevel Pressure](https://weatherflow.github.io/Tempest/api/derived-metric-formulas.html#sea-level-pressure).
Testing on mu own system, they are spot-on the same. Please test and report back.

[2022-07-12 05:10] GlennGoddard commented on #163
Mine tracks with the device section of the app.  The new app might do some rounding.

[2022-07-12 05:18] briis commented on #163
Great, thanks for the quick response @GlennGoddard. Pressure values are rounded to 3 decimals when using imperial units, just for reference.
Looking forward to hear from the people who had bigger deviations, than you and I.

[2022-07-12 05:20] natekspencer commented on #163
Mine looks good as well. And I actually had deviations similar to @chasut 😅

[2022-07-12 05:37] briis commented on #163
👏🏻When I get back from work, I will make the final build and post it to docker, unless I hear otherwise.

[2022-07-12 15:44] briis commented on #163
Version 3.1.1 is now available, which fixes this. Thanks to all who helped track it down, and to @natekspencer for fixing it.

[2022-07-13 17:09] zacs commented on #164
Just pulled the most recent `dev` tag (I assume that includes the 3.1.1 changes), and still nothing. So strange.

My pressure is off between the Tempest app and what I see in HA, but not by much (29.734 in HA and 30.060 in app).

[2022-07-13 18:10] zacs commented on #164
I only have a single pressure measurment in the Tempest app, which shows 30.063, and in HA I see below. And yes positive I've pulled latest, rebuilt the whole container, it shows 27 hours old for the age.

<img width="319" alt="image" src="https://user-images.githubusercontent.com/27705/178801539-957da96d-baa5-488f-828a-68dc90bf1581.png">

[2022-07-13 22:04] zorrobyte opened #165 "Set some variables from GPS from MQTT"
### New Feature

I have a Tempest device installed on my RV, thus, some reported data is incorrect.

I have GPS available via MQTT of the current location, and elevation of the RV.

It would be nice to be able to set these variables from MQTT with live updating:

- TZ
- ELEVATION
- LATITUDE
- LONGITUDE

### Additional context

_No response_

[2022-07-14 06:40] briis commented on #165
I accept the change request. I will have to do a lot of thinking on how to implement this without having to restart the UDP listener, so it will most likely take some time before we get there - if we do.

[2022-07-14 06:46] briis commented on #164
The discrepancy is 0.036 inHg for Sealevel. It seems like a small number, but cannot be explained by a timing difference.
When you go in to the App, and click the Tempest icon in the upper right corner, and then scroll down you can see the
Station Pressure. Could see if that is a match to what you see in the App - This is raw data from the station, so no conversion is done on that.

Just another c

[2022-07-14 15:43] zacs commented on #164
Ignore my pressure stuff, my lat/long are not identical between the app and container. Totally didn't think of that. 🤦

[2022-07-14 18:49] GlennGoddard commented on #165
WeatherFlow announced awhile back that they were developing a unit specifically for Sailboats and RVs for this intended purpose.  So, eventually this will probably need to be done.

We already publish to MQTT, we could read LAT, Long, and elevation from MQTT (with a variable requesting that be done) and evaluate it just like a UDP broadcast.  This would leave it up to the end user to get the data

[2022-07-14 19:52] twinkie0101 opened #166 "Template Entity Error - Daily Forecast"
### Home Assistant Version?

 	core-2022.7.4

### Add-On or Self Hosted?

HA Supervised (Add-On)

### Weatherflow2MQTT version?

3.1.1

### What happened?

I keep getting the error below for my weather template.  Maybe this is due to me trying to create two templates (one for hourly and one for daily)?  The yaml for each template is below:

[code]

### Relevant log output

[code]
[code]

[2022-07-14 20:29] chasut commented on #166
I might be able to help.  Not sure, but these template errors look like they may be due to not having defaults for the float and integer filter operators.  The mandate for default values happened back in December or so I think.  Drove me nuts, but had to adjust to accommodate.  You can see my hourly template below for at least a way to satisfy the default requirement.

Hope this helps.  Looks like

[2022-07-14 23:46] nilvanis opened #167 "sqlite: Could not write to High and Low Table"
### Home Assistant Version?

2022.6.7

### Add-On or Self Hosted?

Self managed Container

### Weatherflow2MQTT version?

latest, run 2022-07-15

### What happened?

Looking at the container logs I can see repeating sqlite error.

### Relevant log output

[code]

[2022-07-14 23:48] nilvanis commented on #167
Sorry, duplicate of https://github.com/briis/hass-weatherflow2mqtt/issues/147

[2022-07-14 23:48] #167 closed

[2022-07-15 01:46] twinkie0101 commented on #166
Thanks, that worked.  The one change I had to make was for wind_speed_template as I was getting an error with the code in your template.  Using my original entry appears to be working with no errors.  Appreciate your help!

[2022-07-15 01:46] #166 closed

[2022-07-15 06:27] briis commented on #165
Good suggestions @GlennGoddard, that should be doable.

@zorrobyte I was wondering one thing: When the Tempest device is located on an RV, how do you ensure that it is pointing in the right direction all the time? I mean to measure wind direction, the device needs to know where north is.

[2022-07-15 07:20] briis commented on #164
Back to the missing Zambretti data.
The text depends on the Zambretti number, so if this is None you will not get that.

The number depends on the following values: `latitude`, `Wind Direction Avg. (Degree)`, `Pressure High Value`, `Pressure Low Value`, `Pressure Trend (Numeric Value)` and `Sealevel Pressure`. If any of these are None, then you will get None back.

So can you check all the above v

[2022-07-15 09:40] briis commented on #165
Woow, this looks cool. If I get some time during my summervacation I will look in to this.

[2022-07-15 16:40] GlennGoddard commented on #165
@zorrobyte What MQTT topics are you currently using? (so I can just mimic exactly what you have for input)
Might as well figure out some standard topic names.
I can use Node-Red to publish MQTT topics to simulate the inputs for testing.
@briis I think the easiest for the user would be to have single JSON per MQTT topic for the intake of this data instead of everything on one string.  I think if we

[2022-07-16 19:11] nilvanis opened #168 "Sporadically no data in HA for 30min"
### Home Assistant Version?

2022.6.7

### Add-On or Self Hosted?

Self managed Container

### Weatherflow2MQTT version?

3.1.1

### What happened?

Hello,
First of all I'd like to take the opportunity and thank you so much for this piece of software - amazing work, I'm so glad I can pull all my WF Tempest data to HA that easily.

I've set up this just yesterday, but I noticed one thing I cannot f

[2022-07-16 21:09] GlennGoddard commented on #168
How does the solar elevation look?  Solar Insulation is proportional to solar elevation, so if there is an issue with elevation then it would be shown on Solar Insulation.

Please post your docker run command.  Feel free to replace lat/long/station id/api key with 'xxxx'.  See the Zambretti issue for an example.

I'll probably ask more questions when I get back to my computer.

Do you use MQTT exp

[2022-07-16 22:36] nilvanis commented on #168
Hi Glenn,
Solar elevation has exactly the same issue.
But I did noticed one thing.
All sensors I checked are affected the same way **except current wind speed**
I have uploaded few more screenshots including solar elevation here:
https://imgur.com/a/5sHprRN

my docker-compose.yaml
[code]

[2022-07-16 23:54] GlennGoddard commented on #168
Do you get a Zambretti output?

[2022-07-17 09:29] nilvanis commented on #168
Normally? yes
During the ~30min freeze? no

Screenshots of Zambretti history from the same timespan as previous ones:
https://imgur.com/a/degtW5Q

[2022-07-18 18:12] zacs commented on #164
I've got a Tempest coming shortly (UV sensor failing on my Sky and lightning sensor failing on Air), so I am very interested to see if once it's add the Zembretti "just works." Happy to keep trying to debug in the meantime but that might be the real solution.

[2022-07-19 13:04] badewanne1234 commented on #17
@GlennGoddard it looks pretty accurate during the day, but I'm getting always a drop at around 6:30PM, see below screenshot.

![grafik](https://user-images.githubusercontent.com/82471417/179756769-ae98dc08-27cb-4520-b2f4-9aca9a62d09f.png)

[2022-07-19 13:21] briis commented on #17
Are you seeing the same drop in values in the Tempest APP - just to check if this is a device or network issue?

[2022-07-19 13:23] GlennGoddard commented on #17
@badewanne1234 Do you have something shading the Tempest at that time?

I think that estimates well, but it looks like it is off on solar time by 15-30 min.  Is your Lat/Long and Time Zone correct and the time correct for your computer?

@briis This is the second time I've seen someone post a picture where values don't change for a period of time.  If you look around 2000 solar insolation does not

[2022-07-19 14:02] badewanne1234 commented on #17
Hi @briis @GlennGoddard I see the same drop in the Tempest App. You're right, this is around the time when the sun goes behind my neighbours house these days.

I have entered Lat/Long and Time Zone correctly. Long/Lat and Sea Level have been entered in the new config option for the integration. However, I noticed there that one can only enter full numbers for Long/Lat, so it could be a bit inaccur

[2022-07-19 14:58] GlennGoddard commented on #17
Where does it say the value is invalid?
Are you using the Docker container or the Add-ON?

[2022-07-19 15:02] badewanne1234 commented on #17
I'm using the Add-On. It says it needs to be an "valid" value.
"Please select a valid value. The closest values are X and Y"

[2022-07-19 15:14] GlennGoddard commented on #17
@briis I did a PR to clarify in example for Lat & Long that they can be decimals and not just integers.  As for the Add-On I do not know where this is, and not familiar with it since I use the container.  See the comments above this one.

[2022-07-19 15:20] GlennGoddard commented on #164
I would like to fix this, but I don't know where the issue is.  You have all the inputs for Zambretti, so you 'should' have it.  The only real difference between Air&Sky and Tempest are the UDP brodcasts, but other calculated sensors work for Air&Sky.

I'm at a loss.  Let us know the outcome of the Tempest, if there is still an issue then it might be something external to the weather devices.

[2022-07-19 15:31] briis commented on #17
Thanks. In the Add-On it takes the lat/lon from the ha config if you don't do it yourself or you can set it manually from the Configuration tab.

I am working from home tomorrow so I'll look at it there.

[2022-07-21 14:49] TopBanana123 opened #171 "Question/Concern about persistence of the Home Assistant Entities"
Hi,

Hopefully this is an okay to ask this question. I posted it in the Tempest forums but they are not very active so I thought I would post here too

Thanks for your work on this project. I set it up very quickly and it works great. Before I was relying on going out to the Weatherflow API over the internet, so any of my automations involving the Tempest would fail if the internet didn’t work, or

[2022-07-21 17:46] briis commented on #171
I Guess you saw the answer from @natekspencer on the Tempest Community, but I [post it here](https://community.weatherflow.com/t/weatherflow2mqtt-for-home-assistant/13718/85?u=bjarne) for others to see

[2022-07-21 17:46] #171 closed

[2022-07-23 23:32] zacs commented on #164
Drum roll... just installed the Tempest and all the values are there as expected! So I suppose there's some sort of race condition when having two sensors. In any case, all is well, and I think we can close this since I may have been the only person alive with an Air/Sky that was interested in Zambretti. 😄

[2022-07-24 05:51] briis commented on #164
Sounds good. When I am back from vacation I'll setup my Air/Sky just to see if I can replicate the behavior you have experienced. But glad it works for you now.

[2022-07-24 05:56] briis commented on #164
Sounds good. When I am back from vacation I'll setup my Air/Sky just to see if I can replicate the behavior you have experienced. But glad it works for you now.

[2022-07-24 05:57] #164 closed

[2022-07-24 09:11] WhistleMaster opened #172 "Add azimuth value"
### New Feature

HI !

Thanks for the great work ! Would it be possible to add the azimuth value to the list of sensors ?

Kind regards,
WM

### Additional context

_No response_

[2022-07-24 21:30] briis commented on #172
We will look into it.

[2022-07-26 16:17] nilvanis commented on #168
I managed to solve it.
It looks like it was a sensor - hub communication problem.
I've moved the hub to another location and I don't have these 30min freezes ever since.

I was misleaded by the fact I was receiving current wind speed without a problem all the time and historically all the data were present on the weatherflow website. Like these were 'cached' on the sensor and resent until it recei

[2022-07-26 17:47] #168 closed

[2022-07-27 14:18] jsb2092 opened #173 "Forecasted Temperatures not correct"
### Home Assistant Version?

2022.7.7

### Add-On or Self Hosted?

HA Supervised (Add-On)

### Weatherflow2MQTT version?

3.1.1

### What happened?

When using the HA weather integration, the temperature unit for the the current temperature is in F, however, the temperatures for the forecast appear to be treated as F numbers that have been converted to C.

temperature: 72
temperature_unit: °F
humi

[2022-07-27 15:50] GlennGoddard commented on #173
What units do you have selected in the settings of the App?
It appears you selected imperial this integration, is this also the case for home assistant?

[2022-07-27 16:05] jsb2092 commented on #173
In my configuration.yaml I had it set to C, however, that was because the weather card was displaying incorrectly.  However, I did update HomeAssistant this morning, and switching back to F seems to have fixed it, so closing.

[2022-07-27 16:05] #173 closed

[2022-07-28 00:48] rhysby commented on #17
@GlennGoddard I'm happy to assist with any testing if you need someone from the Southern Hemisphere (NZ) and I am using Node-Red.

[2022-07-28 01:04] GlennGoddard commented on #17
That would help, if you have the most recent build could you compare Solar Insolation (estimated Solar Radiation) to measured Solar Radiation on a sunny day.

Graphing them in HA is the easiest way.  I think my estimates work but I want more data.

[2022-07-28 02:50] rhysby commented on #17
Seems a bit off..
![Screenshot 2022-07-28 144917](https://user-images.githubusercontent.com/45384843/181409606-44c98cc6-15bd-468c-a57f-7c3003110fdb.png)
.

[2022-07-28 05:42] GlennGoddard commented on #17
Useful info.  If you don't mind could you PM me on the forum with your Latitude (don't need decimals) and station elevation.  With the graph above I will make some adjustments to the formula (which I thought I might have to); although I am happy it is the right shape.

I just realized something that probably is the issue for you specifically.  I use Latitude  to calculate Solar Insulation but I di

[2022-07-28 06:58] rhysby commented on #17
Thanks Glenn, I've sent you a PM on the HA forum.

[2022-07-28 19:01] GlennGoddard commented on #17
Could you compare solar elevation that this outputs to what it is in your area?  I think I have this right, but just want to verify.

It looks like I need to do some modifications for the southern hemisphere in the calculations for the actual estimation of Solar Radiation.

I will see if I can resurrect my node-red node for this testing.  I had it where every little sub calculation had it's own bl

[2022-07-28 20:12] badewanne1234 commented on #17
@GlennGoddard for my understanding, `zambretti_text` is different from local_weather_conditions, right? I saw on the documentation, that local_weather_conditions are still in development, on the other hand I read above that you have completed the local_weather_conditions (have you maybe not pushed that yet?) thank you

[2022-07-28 20:32] GlennGoddard commented on #17
Yes Zambretti is it's own sensor seperate from local current conditions.  I have the current conditions effectively done, but life has gotten in the way of me finalizing and putting in the PR.  So all your statements are correct.  As soon as life will let me get it done, I'll get it in.  There is not much left for me to do, other than make sure I correctly convert everything I have in JavaScript t

[2022-07-28 21:03] rhysby commented on #17
Ok, send it through when you are ready.

[2022-08-03 10:42] briis commented on #139
Hi Glenn,
I will close this now. Please reopen next Winther if it is still a problem.

[2022-08-03 10:42] #139 closed

[2022-08-03 19:16] joachimtingvold commented on #147
@GlennGoddard, I have not done any changes (nor deleted any databases) since this issue was opened. The issue seems to be still present;

![image](https://user-images.githubusercontent.com/359918/182690749-265c42db-67d6-43dc-a6e7-a5e54cb9b167.png)

The goal for this issue, at least from my point of view, would be to avoid the need to manually delete the database to fix it (especially since there h

[2022-08-17 19:42] GlennGoddard commented on #17
Submitted PR for Fog Probability, if that works then Snow Probability will be next and then that should cover all remaining perquisites for local current conditions.

I still need to fine tune Solar Insolation for other Latitudes but I need more data from other latitudes

[2022-08-18 16:15] GlennGoddard commented on #132
Waiting to make sure Fog Probability has no issues, then Snow Probability will have PR

[2022-08-19 20:10] JasringStw opened #180 "unable to select nl (dutch) language"
### Home Assistant Version?

2022.8.6

### Add-On or Self Hosted?

HA Supervised (Add-On)

### Weatherflow2MQTT version?

3.1.1

### What happened?

I do not have the option to select nl as language and in yaml mode I can of course enter whatever I want but nl does not get accepted. see the log output.
I hope this can be fixed.

### Relevant log output

[code]

[2022-08-20 03:51] allout58 opened #181 "Unable to Load Home Assistant core config: unexpected mimetype text/plain"
### Home Assistant Version?

2022.8.6

### Add-On or Self Hosted?

HA Supervised (Add-On)

### Weatherflow2MQTT version?

3.1.1

### What happened?

1) No errors in logs :smile:
2) I'm having an issue where the forecast is in Celsius but HA is interpreting it as Fahrenheit. I'm not sure this is directly related, but I'm trying to narrow down my options

### Relevant log output

[code]

[2022-08-20 04:18] allout58 commented on #181
Ah, that does seem to be the cause of my imperial/metric issue. Went in and hacked the default value to be UNITS_IMPERIAL and my issue went away. Seems like because it can't read the config from supervisor, it's just doing the defaults

[2022-08-20 06:51] briis commented on #180
I am pushing out 3.1.2 right now, which is the first release with support for Dutch. Should be available in approximately 30 min.

[2022-08-20 06:56] briis commented on #180
3.1.2 is now available as Add-On or Standalone Container. NL is now supported as language.

[2022-08-20 06:56] #180 closed

[2022-08-20 07:10] JasringStw commented on #180
Great, that's really quick, thanks

[2022-08-20 07:11] briis commented on #180
I forgot to update a version flag, so it will be V3.1.3 that is the right version. This is available now also

[2022-08-20 07:30] briis commented on #181
Could you post the output of the file `/config/.storage/core.config`, because this is what we read to find the unit_system, unless you specifically specify it in the config file for the Add-On.

Mine looks like this (with some redacted values):

[code]

[2022-08-20 14:24] allout58 commented on #181
Here's the file. Using the old Portainer addon to exec into the addon, I couldn't find a `/config` folder, so I just used the SSH addon to get it.
[code]

Seems to match your file

[2022-08-20 14:30] briis commented on #181
Thanks.
Are the latitude and longitude 0 numbers something you just typed in this file now, or did you not set them in Home Assistant? That can cause the error reading the JSON file, as these values are also read from here.

[2022-08-20 14:35] allout58 commented on #181
Ah, no, that was me redacting it. Elevation is actually set to 0 though, I just haven't bothered to figure it out and set it in HA.

[2022-08-20 14:44] allout58 commented on #181
Well, not sure what was going on, but the update did fix the issue for me. I'll close this issue, thanks for the quick responses though!

[2022-08-20 14:59] briis commented on #181
Re-Open if you see this again.

[2022-08-24 16:52] MichelJourdain opened #185 "Add translation for battery mode"
### New Feature

The translation of the battery modes would be nice.  In French it could be this.

         {% if states.sensor.tempest_st_00032986_battery_mode.state | int == 0 %}
              Tous les capteurs sont activés et fonctionnant à pleine puissance.
              Intervalle d'échantillonnage du vent toutes les 3 secondes
          {% elif states.sensor.tempest_st_00032986_battery_mode.

[2022-08-25 05:48] briis commented on #185
I will look in to this.

[2022-08-28 03:22] GlennGoddard commented on #132
Fog and Snow Probability both are in Dev.
Fog is not tracking correctly, so still tracking down the issue there.
I'm in the Northern Hemisphere so it will be awhile before I test the Snow Probability (it does not tend to snow at 90F/32C usually)

[2022-08-28 03:23] GlennGoddard commented on #132
Closing since Fog and Snow are in; I will work issues but sensors are getting to HA.

[2022-08-28 03:23] #132 closed

[2022-08-28 03:27] GlennGoddard commented on #17
Fog and Snow Probability are in the Dev build (I'm still working some issues, but sensors are getting to HA).

Fog has issues still, won't be able to verify Snow for a few months (myself anyways).

Note to self: try to convert ALL syntax from java-script to python.

[2022-08-28 13:01] rodrigus32 opened #187 "Add sensor to indicate if hub is connected to servers"
Would be great to have a sensor that indicates is the hub is connected to the servers. This way we can automate things smart plugs to reset the hub.

[2022-08-28 13:28] briis commented on #187
To make sure I understand this: You want a sensor that indicates if the Hub is transmitting data to the Tempest Servers. Is that correct?
If this is correct, that is not currently possible. There is nowhere in the UDP API, that this data can be retrieved.

The only way I currently think this could be done is polling the servers, to check when data was last updated. But that somehow defeats the pur

[2022-08-28 14:17] rodrigus32 commented on #187
Could it be done by the color of the light on the hub? A green light indicates is online, thus by polling locally the color of the light get the online/offline status. If not I understand.

[2022-08-28 14:21] briis commented on #187
This is not exposed in the API. I will need to do some test on some other areas just to see if this somehow indicates this.

[2022-08-28 14:21] rodrigus32 commented on #187
Thanks!

[2022-08-31 15:47] GlennGoddard commented on #187
If you go to the WeatherFlow forum you could recommend they add that to the API and then it would be easy to implement.

[2022-09-04 22:40] timothybuchanan opened #188 "Can't connect to server"
This add-on was working, but suddenly stooped today with this error in log:
INFO:weatherflow2mqtt.weatherflow_mqtt:🏠 Home Assistant Supervisor Mode 🏠
INFO:weatherflow2mqtt.weatherflow_mqtt:Timezone is America/Denver
ERROR:weatherflow2mqtt.weatherflow_mqtt:Could not connect to MQTT Server. Error is: [Errno 111] Connection refused
I tried reinstalling both this add-on and MQTT. MQTT discovers the de

[2022-09-05 05:42] briis commented on #188
The error message is pretty clear, the integration cannot connect to your MQTT server. You will have to check that you can connect to MQTT with the credentials you supplied in another way, to verify what is wrong.

[2022-09-06 14:50] timothybuchanan commented on #188
That was the first thing I checked, and the MQTT server did respond to test messages published. I tried reinstalling and restarting HA several times, but the error was finally fixed with terminal command “sudo reboot.”

From: Bjarne Riis ***@***.***
Sent: Sunday, September 4, 2022 23:42
To: briis/hass-weatherflow2mqtt ***@***.***>
Cc: timothybuchanan ***@***.***>; Author ***@***.***>
Subject: Re:

[2022-09-06 15:30] briis commented on #188
Glad is it fixed. I am positive this is not related to this Integration, as all it just publishes message to MQTT like any other app.
So there must have been a glitch somewhere, that the reboot fixed.

[2022-09-06 15:30] #188 closed

[2022-09-07 17:34] livlif2dfullest opened #189 "Sensors unavailable in Home Assistant"
Since a few weeks ago, my hub and tempest sensors have become unavailable.  I have since attempted to recreate my MQTT to reset it due to some other problems.  I got it reset and HA discovered all the devices/entities except for the ones from weatherflow2mqtt.  I can see via MQTT Explorer that the weatherflow data is published.  And I can't figure out why HA is not recreating the sensors.  Any adv

[2022-09-09 15:13] chasut commented on #189
Ran into something similar this morning after I upgraded HA to the latest.  Everything looked fine on the weatherflow2mqtt side and from MQTT explorer.  Restarted everything to no avail.  Then, on a whim, hit reconfigure on the MQTT integration in HA settings and everything came back up as normal.

Not sure if it is the same issue, and certainly don't know what or how it got out of sync, but all i

[2022-09-10 09:21] briis commented on #189
Thanks @chasut. I do believe your solution will have a good chance to work for @livlif2dfullest. If not, try the following:
- Stop WeatherFlow2MQTT
- Open some kind of MGTT Explorer, connect to your server, and find the Topic homeassistent/sensor
- Here you will find 3 topics starting with `weatherflow2mqtt`. Delete them all, and restart the WeatherFlow2MQTT container.

[2022-09-10 18:35] craigccfl opened #190 "Lightening Functions, Counter, Distance, Last Hour, etc. Not Recording in Home Assistant."
### Home Assistant Version?

20223.9.1

### Add-On or Self Hosted?

Self managed Container

### Weatherflow2MQTT version?

weatherflow2mqtt:latest

### What happened?

Everything works on the tempest app. Everything but the lightening functions working on HA.
![image](https://user-images.githubusercontent.com/38798834/189497122-cb9e4429-5a9f-44a9-8491-b1bcd757046e.png)

### Relevant log output

[c

[2022-09-12 20:53] livlif2dfullest commented on #189
Neither suggestion worked for me from @chasut nor @briis.  And I only had 2 topics in weatherflow2mqtt, status and attributes.  Do you think I need to reset my weatherflow hub?

[2022-09-12 20:59] livlif2dfullest commented on #189
Here's how the attempted fix went.
From @chasut
01) Hit configure in HA
02) Nothing changed, everything was still unavailable.
03) Deleted entry from MQTT in HA
04) Hit configure in HA
05) Device/entities never got populated in MQTT in HA.

From @briis
01) Stopped WeatherFlow2MQTT
02) Opened up MQTT Explorer, connected to MQTT server, found homeassistant/weatherflow2mqtt
03) Deleted weatherflow2mq

[2022-09-13 19:19] MichelJourdain commented on #190
I have the same problem, there was a storm today, the application calculated 77 and weatherflow2mqtt calculated only 1.

![1C97D27D-D588-4739-B2D7-4F169803C924](https://user-images.githubusercontent.com/83040228/189990603-0ebb745b-39a0-4514-a652-6f49e4d9e3c3.jpeg)

![749959CC-2A22-443C-90F4-3C63F0A548B2](https://user-images.githubusercontent.com/83040228/189990608-c867d85c-7e0d-451b-a2bf-1fdc3a48c

[2022-09-23 08:24] thomas70 opened #191 "Rain Last Hour"
### New Feature

Would really like a rain_last_hour sensor

### Additional context

_No response_

[2022-09-24 05:02] briis commented on #191
Not that easy to do correctly, as the UDP API only delivers last minutes rain accumulation.
It can be done manually by creating a few helpers and an automation, if you need it now.

[2022-09-27 19:44] jonaslevring opened #192 "vanilla events"
### New Feature

As i see the current application its focused around HASS. Thats great, but it also leaves a great opportunity also to support a more simple mode for devices and applications that dont support auto discovery and the HASS formatting.

I suggest that for each topic there also were a simple value post into MQTT..  eg. today /config and /attributes are present for most topic.. I only s

[2022-09-30 09:11] briis commented on #192
Hi Jonas,
As we wrote about on Messenger, I will try and do a Vanilla version of this. It will most likely be a separate project, so that we do not introduce too much unnecessary code in this project.

[2022-10-08 13:00] zorrobyte commented on #147
Brand new install on a supervised x86:
[code]

Will try deleting db

[2022-10-08 13:04] zorrobyte commented on #165
I'll be moving into my RV full time come December 3rd! I'll have much time to tinker with HA and enhancements such as this

[2022-10-08 16:06] GlennGoddard commented on #165
@zorrobyte Listen to the SelfHosted podcast, he lives in an RV.
[https://selfhosted.show/](https://selfhosted.show/)

[2022-11-17 07:33] cbho opened #193 "Warning: Unhandled hub_status message"
### Home Assistant Version?

2022.11.3

### Add-On or Self Hosted?

HA Supervised (Add-On)

### Weatherflow2MQTT version?

3.1.3

### What happened?

Hi,
on a brand new installation as add-on I get the warning shown below.
In MQTT-Explorer no messages are seen.
Any suggestions?
Regards,
Chr,

### Relevant log output

[code]

[2022-11-17 08:07] briis commented on #189
I need to look in to the ZAMBRETTI Numbers, as the intention was to set default values, if they are not set in the Docker Compose or the Add-On. So they should never be Nothing.

[2022-11-17 11:37] codemannh commented on #189
I had copied the text of the docker-compose.yml file from GitHub and adjusted the values for my environment. There were no instructions I recall seeing about Zambretti so I left it as it was. The error message was saying it could not take a null value and those were the only null values in the compose file. Appreciate you taking a look at it, but more importantly appreciate your effort on the proj

[2022-11-27 07:29] GlennGoddard commented on #139
WeatherFlow update the documentation for Battery Mode and it just clarifies that ALL wind is affected by the reduced operating modes.

The 'info' button next to battery brings up the documentation.  I don't remember seeing it there and it may only show up in "Power Save" modes; I just happen to have drop to 2 an hour ago.     Everything does appear to function still.